*.class
out/
bin/
target/
build/
sources.txt

vault.txt
PasswordFiles/
log.txt
enzoic.txt

.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

.DS_Store
Thumbs.db

*.jar
*.war
*.zip

# Logs
*.log
